<!--
  Maintained with the excellent knowledge from https://htmlhead.dev
  These comments will be removed in production

  ========================

  The following 2 meta tags *must* come first in the <head>
  to consistently ensure proper document rendering.
  Any other head element should come *after* these tags.
-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Set the base URL for all relative URLs within the document -->
<base href="{{ page.url }}">

<!-- 
  Short description of the document (limit to 150 characters)
  This content *may* be used as a part of search engine results. 
-->
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

<!-- Control the behavior of search engine crawling and indexing -->
<meta name="robots" content="index,follow"><!-- All Search Engines -->
<meta name="googlebot" content="index,follow"><!-- Google Specific -->

<!-- Tells Google not to show the sitelinks search box -->
<meta name="google" content="nositelinkssearchbox">
<!-- Tells Google not to provide a translation for this document -->
<meta name="google" content="notranslate">

<!-- Identify the software used to build the document, Eleventy ftw! -->
<meta name="generator" content="eleventy">

<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no">

<!-- Helps prevent duplicate content issues -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>

<!-- Links to information about the author(s) of the document -->
<link rel="author" href="humans.txt">

<!-- Apple Touch Icon (reuse 192px icon.png) & standard favicons -->
<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">

<!-- Facebook Open Graph meta -->
<meta property="og:url" content="{{ site.url}}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">
{% if site.meta_data.default_social_image or featured_image %}
  <meta property="og:image" content="{% if site.env == 'production' %}{{ site.url }}{% endif %}{% if featured_image  %}{{ featured_image }}{% else %}{{ site.meta_data.default_social_image }}{% endif %}" />
{% endif %}
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="{{ site.author }}">

<!-- Twitter Open Graph meta -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.meta_data.twitter }}">
<meta name="twitter:creator" content="{{ site.meta_data.twitter }}">

<!-- disallow Twitter from using your site's info for personalization purposes -->
<meta name="twitter:dnt" content="on">
