<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="{{ page.url }}">

<!-- Basic Page Meta -->
<title>
    {% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<meta name="description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ site.description }}{% endif %}">

<!-- Google stuff -->
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="google" content="notranslate">

<!-- 11ty ftw. -->
<meta name="generator" content="eleventy">

<!-- Icons -->
<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">

<!-- Open Graph -->
<meta property="og:url" content="{{ site.url}}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.title }}{% endif %}">

{%- if meta_image %}
    <meta property="og:image" content="{{ site.url }}{{ media_path }}/{{ meta_image }}"/>
{%- elif image %}
    <meta property="og:image" content="{{ site.url }}{{ media_path }}/{{ image }}"/>
{%- else %}
    <meta property="og:image" content="{{ site.url }}{{ site.meta_data.opengraph_default }}"/>
{%- endif %}

<meta property="og:description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ site.excerpt }}{% endif %}"/>
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="{{ site.author }}">

<!-- Twitter Open Graph -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.meta_data.twitter }}">
<meta name="twitter:creator" content="{{ site.meta_data.twitter }}">
<meta name="twitter:dnt" content="on">

<!-- Misc -->
<meta name="format-detection" content="telephone=no">
<link rel="author" href="humans.txt">