<!DOCTYPE html>
<html lang="en">
  <head>
    {% include partials/head.html %}
    {% if site.ENV == 'production' %}
      <!-- capture the CSS content as a Liquid variable -->
      {% capture css %}{% include stylesheets/app.compiled.css %}{% endcapture %}
      <style> 
        {{ css | safe }}
      </style>
    {% else %}
    <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
  </head>
  <body>
    {{ content }}
  </body>
  <script src="/static/app.bundled.js"></script>
</html>
