---
permalink: /humans.txt
---

/* TEAM */
	Name: {{ site.author }}
	Site: {{ site.url }}
	{% if site.meta_data.twitter %}Twitter: {{ site.meta_data.twitter }}{% endif %}
		
/* SITE */
	Doctype: HTML5