---
layout: base.njk
title: Eleventy Web Starter - Eleventy, esbuild, Tailwind and PostCSS
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="main" class="p-6 md:p-12 lg:p-16 border-t-8 border-gray-200">
    <div class="max-w-xl">
        <h1 class="font-bold text-xl mb-2">Eleventy Web Starter <span class="font-light text-gray-500">v{{ pkg.version }}</span></h1>
        <p>Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS.</p>

        <ul class="md:flex my-4 -mx-2 leading-tight ">
            <li class="md:flex-auto p-2">
                <a href="https://github.com/chrissy-dev/eleventy-web-starter/zipball/master/" class="block shadow text-center no-underline p-3 font-semibold bg-ws-blue-500 text-white rounded hover:bg-ws-blue-600">Download (.zip)</a>
            </li>
            <li class="md:flex-auto p-2">
                <a href="https://github.com/chrissy-dev/eleventy-web-starter#features" class="block text-center no-underline text-black p-3 font-semibold rounded border hover:bg-gray-100">Get started</a>
            </li>
        </ul>

        <footer class="text-xs text-gray-500 mt-12 border-t border-gray-100 pt-6">
            <p>Proudly crafted in Scotland by <a href="https://www.chrissy.dev">Chris Collins</a>
            </p>
        </footer>
    </div>
</main>