---
layout: base.njk
title: Eleventy Web Starter - Eleventy, esbuild, Tailwind and PostCSS
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="main" class="mx-auto max-w-3xl my-8 px-4">
    <div class="divide-y divide-gray-200">
        <div class="pt-6 pb-8 space-y-2 md:space-y-5">
            <h1 class="text-3xl leading-9 font-extrabold text-gray-900 tracking-tight sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">Latest</h1>
            <p class="text-lg leading-snug text-gray-500 max-w-lg">{{ site.description }}</p>
        </div>
        <ul class="divide-y divide-gray-200">
            {%- for post in collections.posts -%}
                <li class="py-12">
                    <article class="space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0 xl:items-baseline">
                        <dl>
                            <dt class="sr-only">Published on</dt>
                            <dd class="text-base leading-6 font-medium text-gray-500">
                                <time datetime="{{ post.date | htmlDateString }}">{{ post.date | postDate }}</time>
                            </dd>
                        </dl>
                        <div class="space-y-3 xl:col-span-3">
                            <div class="space-y-3">
                                <h2 class="text-2xl leading-tight font-bold tracking-tight">
                                    <a class="text-gray-900" href="{{ post.url | url }}">{{ post.data.title }}</a>
                                </h2>
                                <div class="prose max-w-none text-gray-500">
                                    <p>{{ post.data.excerpt }}</p>
                                </div>
                            </div>
                            <div class="text-base leading-6 font-medium">
                                <a class="text-grey-500 hover:text-pink-600" aria-label="Read &quot;Introducing linting for Tailwind CSS IntelliSense&quot;" href="{{ post.url | url }}">Read more →</a>
                            </div>
                        </div>
                    </article>
                </li>

            {%- endfor -%}
        </ul>
    </div>
</main>